body, html {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  max-width: 800px;
  margin: 2em auto;
}

.App-link, a {
  color: #09d3ac;
}

.mailchimp-container div {
  display: flex;
  align-items: center;
}

.mailchimp-container div input {
  margin: 0 1em;
}
